
.home {
    width: 80%;
    margin: auto;
    padding-top: 5%;
}

.home #title {
    font-family: 'Alatsi';
    font-size: 60px;
    font-weight: lighter;
    color: #1b2a49;
    margin: 5px;
}

.home #caption {
    font-family: 'Noto Sans JP';
    font-size: 20px;
    margin: 5px;
    color: #465881;
}

.home .main-row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.home .main-row .form {
    width: 25%;
    display: table;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
    min-height: 400px;
    background-color: white;
    border-radius: 30px;
    border: 1px solid #c9d1d3;
    box-shadow:  1px 1px 0px rgba(0, 0, 0, 0.1), 0px 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.home .main-row .bep-results {
    width: 70%;
}