.each-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.each-field .label-block {
    color: #1b2a49;
    margin-top: 12px;
    font-size: 11px;
}

.each-field .input-block {
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: #00909e;
    outline: none;
    width: 80%;
    font-size: 15px;
}