form #form-title {
    font-family: 'Noto Sans JP';
    color: #1b2a49;
}

form .field-title {
    color: #1b2a49;
    margin-bottom: 3px;
}

form .addinput {
    display: inline-block;
    font-size: 10px;
    color: #1b2a49;
    cursor: pointer;
}

form .addinput:hover {
    text-decoration: underline;
}

form .submit {
    margin: auto;
    margin-top:5%;
    cursor: pointer;
    width: 50%;
    height: 25px;
    display: block;

    border: none;
    border-radius: 20px;
    background-color: #00909e;
    color: white;
    font-weight: bolder;
}

form .submit:hover {
    background-color: white;
    border: 1px solid #00909e;
    color: #00909e;
}